/* 
 * My97 DatePicker 4.8
 * auther : zhangkun , hejianting(design)
 * email : zhangkun_net@hotmail.com
 * Date : 2012-05-25
 */ 
.WDateDiv
{
	position:relative;
	padding:5px;
	width:180px;
	*width:190px;
	font-size:12px;
	color:#333;
	border:solid 1px #DEDEDE;
	background-color:#F2F0F1;
}

.WDateDiv2
{
	width:360px;
}

.WDateDiv .NavImg a,.WDateDiv .yminput,.WDateDiv .yminputfocus,.WDateDiv #dpQS
{
	background:url(img.gif) no-repeat;
}

.WDateDiv .NavImg a
{
	float:left;
	width:16px;
	height:16px;
	cursor:pointer;
}
.WDateDiv .NavImgll a
{
	background-position:0px 5px;
}
.WDateDiv .NavImgl a
{
	background-position:0px -10px;
}
.WDateDiv .NavImgr a
{
	background-position:0px -25px;
	float:right;
}
.WDateDiv .NavImgrr a
{
	background-position:0px -40px;
	float:right;
}

.WDateDiv #dpTitle
{
	padding:3px 0px 0px 0px;
	line-height:0px;
	height:20px;
	*height:23;
}

.WDateDiv .yminput,.WDateDiv .yminputfocus
{
	margin-left:3px;
	width:50px;
	height:20px;
	line-height:16px;
	border:solid 1px #F2F0F1;
	cursor:pointer;
	background-position:35px -68px;
}

.WDateDiv .yminputfocus
{
	background-color:#fff;
	border:solid 1px #D8D8D8;
}

.WDateDiv .menuSel{
	z-index:1;
	position:absolute;
	background-color:#FFFFFF;
	border:#A3C6C8 1px solid;
	display:none;
}

.WDateDiv .menu
{
	background:#fff;
}
.WDateDiv .menuOn
{
	color:#fff;
	background:#64A3F3;
}

.WDateDiv .invalidMenu{
	color:#aaa;
}

.WDateDiv .MMenu,.WDateDiv .YMenu
{
	padding:2px;
	margin-top:20px;
	margin-left:-1px;
	width:68px;
	border:solid 1px #D9D9D9;
}
.WDateDiv .MMenu table,.WDateDiv .YMenu table
{
	width:100%;
}
.WDateDiv .MMenu table td,.WDateDiv .YMenu table td
{
	padding:0px;
	line-height:20px;
	text-align:center;
	font-size:12px;
	cursor: pointer;
}

.WDateDiv .Wweek {
 	text-align:center;
	background:#DAF3F5;
	border-right:#BDEBEE 1px solid;
 }

.WDateDiv td
{
	padding:1px;
	line-height:20px;
	font-size:12px;
	color:#999999;
	background:#fff;
	cursor:pointer;
}
.WDateDiv .MTitle td
{
	line-height:24px;
	color:#7D7D7D;
	background:#F2F0F1;
	cursor: default;
}

.WDateDiv .WdayTable2
{
	border-collapse:collapse;
	border:#808080 1px solid;
}
.WDateDiv .WdayTable2 table
{
	border:0;
}

.WDateDiv .WdayTable{
	line-height:20px;	
	color:#13777e;
	background-color:#edfbfb;
}
.WDateDiv .WdayTable td{
	text-align:center;
}

.WDateDiv .Wday
{
	color:#323232;
}

.WDateDiv .WdayOn
{
	color:#fff;
	background-color:#65A2F3;	
}

.WDateDiv .Wwday
{
	color:#65A4F3;
}

.WDateDiv .WwdayOn
{
	color:#fff;
	background-color:#65A2F3;	
}
.WDateDiv .Wtoday
{
	color:#FF6D10;
	background:#E0EDFE;
}
.WDateDiv .Wselday
{
	color:#fff;
	background-color:#65A2F3;	
}
.WDateDiv .WspecialDay{
	background-color:#66F4DF;
}

.WDateDiv .WotherDay
{ 
	color:#D4D4D4;	
}
.WDateDiv .WotherDayOn
{
	color:#fff;
	background-color:#65A2F3;	
}

.WDateDiv .WinvalidDay{
	color:#aaa;
}

.WDateDiv #dpTime
{
	position:relative;
	margin-top:5px;
}

.WDateDiv #dpTime #dpTimeStr
{
	display:inline-block;
	width:28px;
	*width:30px;
	color:#7d7d7d;
}

.WDateDiv #dpTime input
{
	padding:0px;
	margin:0px;
	width:25px;
	height:20px;
	line-height:20px;
	text-align:center;
	color:#333;
	border:#D9D9D9 1px solid;	
}

.WDateDiv #dpTime .tm
{
	width:7px;
	border:none;
	background:#F2F0F1;
}

.WDateDiv #dpTime #dpTimeUp
{
	display:none;
}

.WDateDiv #dpTime #dpTimeDown
{
	display:none;
}

.WDateDiv #dpQS
 {
 	float:left;
	margin-right:3px;
	margin-top:9px;
	*margin-top:6px;
	width:16px;
	height:16px;
	cursor:pointer;
	background-position:0px -90px;
 }
.WDateDiv #dpControl
{
	text-align:right;
	margin-top:3px;
}
.WDateDiv .dpButton
{ 
	margin-left:2px;
	line-height:18px;
	*line-height:16px;
	width:45px;
	background-color:#C3C3C3;
	*background-color:#64A3F3;
	color:#fff;
	border:none;
	cursor: pointer;
}
.WDateDiv .dpButton:hover
{ 
	background-color:#64A3F3;
}

.WDateDiv .hhMenu,
.WDateDiv .mmMenu,
.WDateDiv .ssMenu
{
	position:absolute;
	padding:3px;
	font-size:12px;
	color:#333;
	border:solid 1px #DEDEDE;
	background-color:#F2F0F1;
}

.WDateDiv #dpTime .menu,.WDateDiv #dpTime .menuOn
{
	width:18px;
	height:18px;
	line-height:18px;
	text-align:center;
	background:#fff;
}
.WDateDiv #dpTime .menuOn
{
	background:#65A2F3;
}

.WDateDiv #dpTime td
{
	background:#F2F0F1;
}

.WDateDiv .hhMenu
{
	top:-87px;
	left:35px;
	left:32px\9;
}

.WDateDiv .mmMenu
{
	top:-47px;
	left:35px;
	left:32px\9;
}

.WDateDiv .ssMenu
{
	top:-27px;
	left:35px;
	left:32px\9;
}