<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.supply.supplymanage.dao.UserMapper">

    <!--int addUser(Users users);-->
     <insert id="addUser" parameterType="users">
          insert into users(uname,upwd,usersname,uphone,usex,ubrith,ustate,uposition)
          values(#{uname},#{upwd},#{usersname},#{uphone},#{usex},#{ubrith},#{ustate},#{uposition})

     </insert>

       <!--List<Map> QueryUser();-->
      <select id="QueryUser" resultType="java.util.Map">
            select * from users
      </select>

       <!--int delUser(Integer usersid);-->
        <delete id="delUser" parameterType="Integer">
              delete from users
              <where>
                  usersid=#{usersid}
              </where>

        </delete>
         <!-- void updateUser(Users users);-->
          <update id="updateUser" parameterType="users">
                update users set uname=#{uname},upwd=#{upwd},usersname=#{usersname}
              <where>
                  usersid=#{usersid}
              </where>
          </update>

           <!--Users queryOne(Integer usersid);-->
           <select id="">
                select * from users
               <where>
                    usersid=#{usersid}
               </where>

           </select>
</mapper>